@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

@tailwind utilities;

@source "../src/main/kotlin/**/*.kt";

@layer base {
    :root {
        --accent: var(--color-ctp-green);
    }

    html {
        font-family: 'Cascadia Code', monospace;
        scroll-behavior: smooth;
        @apply min-h-screen bg-ctp-base text-ctp-text;
    }

    a {
        @apply text-ctp-red visited:text-ctp-maroon;
    }
}

@layer components {
    .accent-label {
        color: var(--accent);
    }

    .accent-bg {
        background-color: var(--accent);
    }
}
