module.exports = {
    content: [
        '../src/main/kotlin/de/noah_ruben/misc/CssClasses.kt',
    ],
    theme: {
        extend: {
            fontFamily: {
                'cascadia': ['"Cascadia Code"', 'monospace'],
            },
        },
    },
    safelist: [
        'from-ctp-base',
        'to-ctp-crust',
        {
            pattern: /^bg-ctp-/,
        },
        {
            pattern: /^bg-(rose|red|green|purple|indigo|blue|cyan|teal|emerald|lime|yellow|orange|gray|black)-500$/,
        },
    ],
    plugins: [
        require("@catppuccin/tailwindcss")(
            {
            prefix: "ctp",
            defaultFlavour: "mocha",
            }
        ),
    ],
}
