.cv-pdf-page-slot {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.cv-pdf-page-slot canvas {
  display: block;
  max-width: 100%;
}

.cv-pdf-text-layer {
  color-scheme: only light;
  position: absolute;
  inset: 0;
  overflow: clip;
  line-height: 1;
  text-align: initial;
  text-size-adjust: none;
  transform-origin: 0 0;
  forced-color-adjust: none;
  caret-color: CanvasText;
  z-index: 1;
  --min-font-size: 1;
  --total-scale-factor: 1;
  --text-scale-factor: calc(var(--total-scale-factor) * var(--min-font-size));
  --min-font-size-inv: calc(1 / var(--min-font-size));
}

.cv-pdf-text-layer span,
.cv-pdf-text-layer br {
  color: transparent;
  position: absolute;
  white-space: pre;
  cursor: text;
  transform-origin: 0 0;
}

.cv-pdf-text-layer > :not(.markedContent),
.cv-pdf-text-layer .markedContent span:not(.markedContent) {
  z-index: 1;
  --font-height: 0;
  --scale-x: 1;
  --rotate: 0deg;
  font-size: calc(var(--text-scale-factor) * var(--font-height));
  transform: rotate(var(--rotate)) scaleX(var(--scale-x)) scale(var(--min-font-size-inv));
}

.cv-pdf-text-layer .markedContent {
  display: contents;
}

.cv-pdf-text-layer span[role="img"] {
  user-select: none;
  cursor: default;
}

.cv-pdf-text-layer ::selection {
  background: rgba(0, 0, 255, 0.25);
  background: color-mix(in srgb, AccentColor, transparent 75%);
}

.cv-pdf-text-layer br::selection {
  background: transparent;
}
